<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <h1>Привет, я автор</h1>
    <p>
    Меня зовут Рамиль.<br>
    Занимаюсь проектированием Московского метрополитена и геотехническими расчетами.<br>
    Интересовался блокчейном, биткоином, майнил биток еще в далеком 2014 году, но, к сожалению, недолго.<br>
    Пришел в яндекс-практикум потому, что интересен стал блокчейн с технической точки зрения, а именно как там все устроено.<br>
    Изначально хотел пойти на блокчейн-разработку, но такого курса я не увидел.<br>
    И мне сказали, что нужно сначала выучить какой-то язык программирования. Недолго поискав и поспрашивав друзей, решил пойти на питонщика.<br>
    <a href="https://github.com/Ramilbtc">мой аккаунт на github</a> 

    </p>
</div> 
{% endblock %}
