<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="container">
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        SQL
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Думал, что будет легче проходить обучение. Иногда приходится перечитывать по несколько раз.<br>
    Мне помогает один навык с университета: если что-то непонятно, то прочти несколько раз и ложись спать, утром повтори и в голове что-то останется от новой темы.<br>
    Спрашивая друзей и сравнивая обучение на яндекс-практикуме и на других онлайн-платформах, не раз убедился, что сделал правильный выбор. С их слов, на других платформах <br>
    нет такой дисциплины, как тут, нет такой поддержки, как тут. Очень нравится, что есть связь с настоящими программистами (ревьюерами). Они подскажут, объяснят и помогут.
    </p>
  </article>
</div>
{% endblock %}